#header {
  padding: 20px 0px;

  display: flex;
  justify-content: center;
}

.header-container {
  width: 1200px;

  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-box {
  display: flex;
  align-items: center;
  gap: 10px;

  cursor: pointer; /* 마우스를 올리면 선택됨 */
}
.header-logo {
  color: rgba(0, 0, 0, 1);

  font-family: "GimhaeGaya";
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.4px;
}

.header-right-box {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-search-input-box {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 43px;
  padding: 0px 10px 0px 12px;

  width: 223px;
  height: 30px;

  display: flex;
  align-items: center;
  gap: 5px;
}
.header-search-input {
  flex-grow: 1; /* 남은 빈 공간을 차지하게 만듬 */

  border: none;
  background: none;
  outline: none;

  color: rgba(0, 0, 0, 1);

  font-size: 12px;
  font-weight: 400;
  line-height: 140%;
}

/* 화면이 작아졌을 때 요소들이 함께 줄어들도록 수정 */
@media screen and (max-width: 1200px) {
  .header-container {
    flex-wrap: wrap;
  }

  .header-left-box {
    width: 50%; /* 화면 절반만큼 차지 */
    text-align: left;
  }

  .header-right-box {
    width: 50%; /* 화면 절반만큼 차지 */
    text-align: right;
  }
}

/* 화면이 아주 작아졌을 때 한 줄에 하나씩 요소가 배치되도록 수정 */
@media screen and (max-width: 768px) {
  .header-left-box,
  .header-right-box {
    width: 100%; /* 전체 너비로 설정 */
    text-align: center;
  }
}
